@use 'vars';
@use 'mixins';
//---------------------------------------------------------------------
// ESTILOS GENERALES
//---------------------------------------------------------------------

html{
	scroll-behavior: smooth;
	height: 100%;
}

body{
	font-size: 16px;
	min-height: 100%;
	font-family:"Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: bottom; //quita el margen raro abajo de la img
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

main.u-centrar,
main.Main-content{
	margin-top: 79px; //alto header
}

//---------------------------------------------------------------------
// UTILIDADES (REUSABLE CLASES)
//---------------------------------------------------------------------

.u-centrar{
	margin: 0 auto;
	text-align: center;
	max-width: vars.$pagewidth;
}