// ==================== COLORES ====================

$azul-twitter : #1da1f2;
$azul-facebook : #1877f2;
$fuccia-instagram: #c13584;

// ==================== BREAKPOINTS ====================
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopXL: 1440px !default;
$desktopXXL: 1600px !default;

/*RESPONSIVE*/
// 0
// 480px
// 600px
// 840px
// 960px
// 1280px
// 1440px
// 1600px

// ==================== FONT WEIGHTS ====================
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// ==================== ANCHO MAXIMO PÁGINA ====================
$pagewidth: 1400px;