//---------------------------------------------------------------------
// COLORES
//---------------------------------------------------------------------

$azul-twitter : #1da1f2;
$azul-facebook : #1877f2;
$fuccia-instagram: #c13584;