// HEADER
header.Header
  .u-centrar.clearfix
    // LOGO
    a.Header-logo(href='index.html')
      // <img class="Header-img" src="assets/img/logo.png" alt="Logo Empresa" />
      h1 Titulo Sitio WEB
    // MENU
    .Menu-btn
      .bar1
      .bar2
      .bar3
    nav.Menu
      ul.Menu-list
        li
          a.active(href='index.html') Inicio
        li
          a(href='#') Quiénes somos
        li
          a(href='#') Nuestros productos
        li
          a(href='#') Contáctenos