extends ./components/layout.pug
block variables
    - var titulo = "Base Project Maqueta";
block contenido
    // Main
    main.u-centrar
        h1 A maquetar!!!
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis, dignissimos magnam dolores pariatur quaerat rerum optio cupiditate exercitationem incidunt alias sit quae mollitia laboriosam atque cumque necessitatibus debitis excepturi?