

@media screen and (min-width:700px){
		
	.Menu{
		display: block !important;
		width: auto;
		height: auto;
		margin-left: 5px;
		margin-right: 0;

		.u-centrar{
			text-align: center;
		}

		&-btn{
			display: none;
		}

		&-list{
			li{
				display: inline-block;
				width: auto;

				a{
					width: auto;
				}
			}
		}
	}

}
